{% extends "layouts/site.twig" %}
{% block content %}
  <section class="home-section">
        <div class="container pt-5">
            <h2>Categorias</h2>
            <form method="post" >
                <div class="row">
                    <div class="mb-3">
                        <label for="select" class="form-label">Nome</label>
						{% if categoria is defined %}
							<input type="number" id="id" value="{{categoria.id}}" readonly hidden name="id" class="form-control" required>
							<input type="text" class="form-control" name="nome" value="{{categoria.nome}}" required>
						{% else %}
							<input type="text" class="form-control" name="nome"value="" required>
						{% endif %}
                    </div>
                	<div class="mb-3">
						<label for="descricao" class="form-label">Descrição</label>
						{% if categoria is defined %}
							<input type="text" class="form-control" name="descricao" value="{{categoria.descricao}}" required>
						{% else %}
	 						<input type="text" class="form-control" name="descricao" value="" required>
						{% endif %}
                	</div>
                </div>


				{% if success ==  true %}
					<div class='alert alert-success' role='alert'>
						Categoria criada com sucesso!
					</div>
				{% endif %}
                {% if success == false and message is defined %}

					<div class="alert alert-danger">
						{{ message }}
					</div>
                {% endif %}
                <a href="/categorias" class="btn btn-primary">Voltar</a>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>

    </section>

{% endblock %}
