{% extends "layouts/site.twig" %}


{% block content %}

<section class="home-section">
        <div class="container">
            <div class="row">
                <!-- <div class="col-12">
                    <img src="../assets/images/logo.png" alt="logo">
                </div> -->
                <div class="col-12 my-4">
                    <h2>Bem vindo, <b class="text-decoration-underline">{{ session.usuario }}!</b></h2>
                </div>
            </div>
            <div class="card">

                <h4 class="mb-4">Navegação rápida</h4>
                <div class="row">
                    
                    <div class="col-4">
                        <a href="/pagamentos" class="h-100">
                        <div class="dash_card text-center center">
                                <i class="bx bx-dollar-circle"></i>
                                <span class="links_name">Métodos de pagamento</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="/categorias" class="h-100">
                        <div class="dash_card text-center center">
                                <i class="bx bxs-coin-stack"></i>
                                <span class="links_name">Categorias</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="/lancamentos" class="h-100">
                        <div class="dash_card text-center center">
                                <i class="bx bxs-coin-stack"></i>
                                <span class="links_name">Lançamentos</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
